@{
    ViewData["Title"] = "Login";
}

<div class="form">
    <div class="form-title"> Login Here! </div>
    <div class="form-content">
        <p id="errorMessage"> Incorrect username or password! </p>
        <div id="inputPlaceholder"></div>
        <button id="loginBtn" onclick="login()"> Login </button>
    </div>
    <div id="tutorial">
        Login Credentials to use in this example are <br />
        UserName: "2cool4school", password: "password" <br />
        UserName: "treeHill", password: "password" <br />
        UserName: "ronnieclark", password: "hiddenPassword" <br />
    </div>
</div>